DATABASE_USER="postgres"
DATABASE_PASSWORD=""
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="main"
DATABASE_OPTIONS="?sslmode=disable"

AUTH_SECRET="auth_secret"
AUTH_ADMIN_KEY="admin_key"
AUTH_EDITOR_KEY="editor_key"
AUTH_VIEWER_KEY="viewer_key"

EXAMPLE_ENDPOINT="https://swapi.dev/api/people/1"

PUBSUB_PROJECT_ID="project_id"

PORT=8000
SERVICE_NAME="golang-app"
